/* MOBILE */

section .head{
    display: flex;
    background-color: #132945;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}

section .head img{
    transform: translateY(20px);
}

section .head h1{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #66CCFF;
    padding-bottom: 8px;
}

/* CARDS */
section .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

section .card img{
    width: 168px;
    height: 177px;
    border-radius: 15px;
}
section .card h3{
    margin-top: 16px;
    color: #153764;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

section .card p{
    color: #153764;
    margin: 8px 60px 0px 60px;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
