
<link rel="stylesheet" href="/static/css/footer.css">
<body>
    <footer>
        <div class = "footer-content">
        <p>2023 HOME LINK</p>
        <div class="social">
            <a href="https://www.instagram.com/homelinkbr/" target="_blank"><img src="/static/images/instagram.svg" alt="Logomarca do instagram"></a>
            <a href="https://www.youtube.com/channel/UCG8HEQtOkX9-PN-z6Or4Gyg" target="_blank"><img src="/static/images/youtube.svg" alt="Logomarca do Youtube"></a>
        </div>
        </div>
    </footer>
    </body>
</html>