{% extends 'app/base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/servicos.css">
{% endblock css %}
{% block content %}
<section>
    <div class="head">
        <img src="/static/images/service-icon.svg" alt="">
        <h1>Serviços</h1>
    </div>
    <div class="card">
        <img src="/static/images/servico-1.png" alt="">
        <h3>Iluminação Inteligente</h3>
        <p>Controle sua Iluminação por Comandos de voz ou pelo Smartphone.</p>
    </div>
    <div class="card">
        <img src="/static/images/servico-2.jpg" alt="">
        <h3>Termostatos e Televisores</h3>
        <p>Controle a temperatura do Ar-condicionado por comandos de voz ou Smartphone</p>
    </div>
    <div class="card">
        <img src="/static/images/servico-3.jpg" alt="">
        <h3>Piscinas Inteligentes</h3>
        <p>Controle os Leds e a temperatura da piscina por comandos de voz ou Smartphone</p>
        <!-- https://www.youtube.com/watch?time_continue=8&v=dExCwXmgYK8&embeds_referring_euri=https%3A%2F%2Fwww.tholz.com.br%2F&embeds_referring_origin=https%3A%2F%2Fwww.tholz.com.br&source_ve_path=MjM4NTE&feature=emb_title -->
    </div>
    <div class="card">
        <img src="/static/images/servico-4.jpg" alt="">
        <h3>Segurança</h3>
        <p>Faça o monitoramento da sua casa com Fechaduras Digitais e Câmeras de Segurança</p>
    </div>
</section>

{% endblock content %}